**/.DS_Store
**/.vscode
**/.idea*
**/__pycache__
**/__MACOSX

## Data
dataset/ikea_man
dataset/images
dataset/images_prev
dataset/images_masks
dataset/images_full
dataset/labels
dataset/r2n2_shapenet_dataset
dataset/r2n2_shapenet_original_line
dataset/shapenet_rotate
dataset/shapenet_rotate_edge
dataset/gt_voxels_32_x_32
dataset/models
dataset/off_models
dataset/gt_off_32_x_32
dataset/shapenet_rotate_sketch
dataset/r2n2_sketch
sketchsampler/dataset

debug_output/
inference_outputs/
cad_models/
inference_outputs/
train_output/
logs/
checkpoints/
*.zip
sketchsampler/experiments/*
