**/.DS_Store
**/.vscode
**/.idea*
**/__pycache__

## Data
dataset/ikea_man
dataset/images
dataset/images_prev
dataset/images_masks
dataset/images_full
dataset/labels
dataset/r2n2_shapenet_dataset
dataset/r2n2_shapenet_line
dataset/shapenet_rotate
cad_models/
logs/
checkpoints/
*.zip

